.top-nav {
  /* position: fixed;
  top: 0;
  z-index: 1000; */
  width: 100%;

}

.tc {
  background: #ea7135e4;
  color: white;
  font-family: 'Arial', sans-serif;
  padding: 8px 0;
  border-bottom: 2px solid #ffd700;
  font-size: 1.3rem;
}

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 2px solid #ffd700;
  /* gold accent */
}

/* Left side */
.topnav-left {
  display: flex;
  align-items: center;
}

.topnav-item {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-right: 20px;
}

.topnav-item a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.topnav-item a:hover {
  color: #ffd700;
}

/* Icon styling */
.icon {
  color: #ffffff;

}

/* Right side */
.topnav-right {
  display: flex;
  align-items: center;
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 8px;
  }

  .topnav-left,
  .topnav-right {
    justify-content: center;
  }
}