.container{
  margin: 0 auto;
}
/* Center container */
.max-w {
  max-width: 1300px;
  margin: auto;
  padding: 0 15px;
}
/* Right side spacing */
.grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
/* Grid layout */
.grid-2 .grid-sec{
  
  width: 50%;
  align-items: center;
}
.grid-3 .grid-sec{
  
  width: 33%;
  align-items: center;
}
.grid-4 .grid-sec{
  width: 25%;
  align-items: center;
}
.grid-5 .grid-sec{
 
  width: 20%;
  align-items: center;
}

/* Left & right sections */
.grid-sec {
  display: flex;
  align-items: center;
  gap: 12px;
}

